@import "mixin";

.try {
  /** ここに記述しよう */
  .spinner {
    display: inline-block;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 300px;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 80px auto;
  }

  .double-spinner {

  }

  .rect-spinner {

  }
}
