@import "mixin";

.try {
  /** ここに記述しよう */
  .spinner {
    transform-style: preserve-3d;
    perspective: 300px;
    width: 40px;
    height: 40px;
    background-color: #333;
    margin: 100px auto;

    @include animation(
      $name: sk-rotateplane,
      $duration: 1.2s,
      $iteration-count: infinite,
      
      )
  }

  .double-spinner {

  }

  .rect-spinner {

  }
}
